/* Rest */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* root variable */
:root {
  --color-box-number: #afcedd;
  --color-number-box: #234894;
  --color-headings1: #234894;
  --color-date: #696969;
  --color-heading2: #1e1e1e;
  --color-heading3: #696969;
  --color-name: #1e1e1e;
  --color-box-secondary: #219f95;
  --color-white: #fff;
  --color-body: #ffffff;
  --box-shadow: 3px 5px 5px rgb(241, 238, 238);
  --border-radius: 8px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-body);
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  color: var(--color-heading2);
  font-weight: 900;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}

.btn {
  background-color: var(--color-box-secondary);
  color: var(--color-white);
  font-size: 1.6rem;
  font-family: "Vazirmatn";
  font-weight: 200;
  border: 0;
  padding: 1rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  border: 1px solid var(--color-body);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.1rem 1rem;
  }
}

.apload {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  position: relative;
}

.apload-section {
  background-color: var(--color-box-number);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.apload-box-number {
  font-family: "Vazirmatn";
  color: var(--color-box-secondary);
  font-weight: 600;
  font-size: 1.4rem;
}

.apload-text a {
  color: var(--color-box-secondary);
  font-weight: 600;
  font-size: 1.4rem;
}

.apload-date {
  position: absolute;
  left: 0;
}

.apload-date p {
  color: var(--color-date);
  font-family: "Vazirmatn";
  font-weight: 500;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .apload-section {
    width: 40px;
    height: 40px;
  }
  .apload-box-number {
    font-size: 2rem;
  }
  .apload-text a {
    font-size: 1.6rem;
  }
}

.peaople-section {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.people-photo {
  width: 40px;
  height: 40px;
}

.people-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.people-photo:hover {
  transform: scale(1.2);
}

.people-name p {
  font-size: 400;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .people-photo {
    width: 50px;
    height: 50px;
  }
  .people-name p {
    font-weight: 700;
    font-size: 1.4rem;
  }
}

.membership {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.membership-header h2 {
  font-size: 1.8rem;
}
.membership-number {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  color: var(--color-date);
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .membership-header h2 {
    font-size: 2rem;
  }
  .membership-number {
    font-size: 1.2rem;
  }
}

.main-page {
  display: grid;
  align-items: center;
  margin: 1.4rem 1rem;
  gap: 1rem 0;
}

.main-page-header h1 {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .main-page {
    grid-template-columns: repeat(2, 1fr);
    margin: 1.6rem 1.2rem;
    gap: 1rem 2rem;
  }
  .main-page-header {
    grid-column: 1/ 3;
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-page {
    grid-template-columns: repeat(3, 1fr);
    margin: 1.6rem 1.2rem;
    gap: 1rem 2rem;
  }
  .main-page-header {
    grid-column: 1/4;
    padding: 1rem 1.5rem;
  }
}

.main-page-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0.5rem 0;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-white);
}

.box-items {
  grid-column: 1/3;
}

.button-section {
  display: flex;
  justify-content: flex-end;
}
